
@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-dark: #363636;
  --basic-grey: #e5e5e5;
  --dark-grey: #dcdcdc;
  --special-grey: #ebebeb;
  --unit-grey: #f2f2f2;
  --unit-grey-dark: #eaeaea;
  --unit-red: #f6dada;
  --unit-grey-light: #e6e6e6;
  --grey-disabled: #a6a6a6;
  --unit-yellow: #ffc600;
  --popup-shadow: rgba(0, 0, 0, 0.2);
  --popup-map-shadow: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-body {
  margin: 0;
  padding-top: 40px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.01em;
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;

}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*Header*/

.main-header {
  color: var(--basic-black);
  background-color: var(--special-yellow);
  height: 300px;
}

.main-header__logo {
  position: relative;
  width: 164px;
  height: 36px;
  margin-left: 60px;
  margin-bottom: 4px;
}

.main-header__logo-link {
  position: absolute;
  top: -19px;
  cursor: pointer;
}

.main-header__logo-link:hover,
.main-header__logo-link:focus {
  opacity: 0.6;
  transition: all 0.2 linear;
}

.main-header__logo-link:active {
  opacity: 0.3;
}

.main-header__logo-img {
  width: 164px;
  height: 36px;
}

.user-nav {
  display: grid;
  grid-template-columns: 544px 280px 132px 86px;
  width: 1160px;
  height: 20px;
  margin-left: 85px;
  margin-bottom: 51px;
}

.user-nav__search {
  position: relative;
}

.user-nav__search-label {
  position: absolute;
  top: 8px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.user-nav__search-label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: none;
  width: 400px;
  height: 2px;
  background-color: var(--basic-black);
}

.user-nav__search-input {
  position: relative;
  width: 320px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.user-nav__search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-nav__search-input:hover::placeholder {
  color: var(--basic-black); 
  opacity: 0.6;
}

.user-nav__search-input:focus::placeholder {
  font-size: 0;
}

.user-nav__search-input:focus ~ .user-nav__search-label::before {
  display: block;
}

.user-nav__search-input:focus ~ .user-nav__search-btn {
  z-index: 0;
  opacity: 1;
}

.user-nav__search-btn {
  position: absolute;
  top: -9px;
  left: 330px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: none;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
  opacity: 0;
}

.user-nav__search-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
  transition: all 0.1s linear;
}
 
.user-nav__search-btn:focus {
  z-index: 0;
  color: var(--basic-white);
  background-color: var(--basic-black);
  opacity: 1;
  transition: all 0.1s linear;
}

.user-nav__search-btn:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.user-nav__search-btn:focus ~ .user-nav__search-label::before {
  display: block;
}

.user-nav__user-link {
  position: relative;
  color: var(--basic-dark);
}

.user-nav__user-link:hover {
  opacity: 0.6;
}

.user-nav__user-link:hover::before {
  opacity: 0.6;
}

.user-nav__user-link:active {
  opacity: 0.3;
}

.user-nav__user-link:active::before {
  opacity: 0.3;
}

.user-nav__user-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.user-nav__user-link--login::before {
  bottom: 4px;
  left: -26px;
  background-image: url("../img/black-user.svg");
}

.user-nav__user-link--profile::before {
  bottom: 4px;
  left: -26px;
  background-image: url("../img/black-user.svg");
}

.user-nav__user-link--compare::before {
  bottom: 2px;
  left: -20px;
  background-image: url("../img/black-compare.svg");
}

.user-nav__user-link--cart::before {
  bottom: 4px;
  left: -23px;
  background-image: url("../img/black-cart.svg");
}

.user-nav__user-link--logout {
  margin-left: 15px;
  color: var(--basic-black);
  opacity: 0.3;
}

.user-nav__user-link--logout:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.user-nav__user-link--logout:active {
  color: var(--basic-black) ;
  opacity: 0.1;
}

.main-nav {
  margin-left: 60px;
  margin-right: 60px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 541px 159px 223px 117px;
}

.main-nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__item--catalog {
  position: relative;
}

.main-nav__link--catalog {
  position: relative;
}

.main-nav__link--catalog::before {
  content: "";
  position: absolute;
  right: -27px;
  bottom: 10px;
  width: 16px;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__link--catalog::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 3px;
  width: 2px;
  height: 16px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__link--catalog {
  position: relative;
}

.main-nav__sub-wrap {
  position: absolute;
  top: 22px;
  left: -60px;
  display: none;
  width: 1160px;
  height: 167px;
  background-color: var(--special-yellow);
  z-index: 2;
}

.main-nav__sub-wrap:hover {
  display: block;
}

.main-nav__link--catalog:hover + .main-nav__sub-wrap {
  display: block;
}

.main-nav__sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 241px 178px 185px;
  padding-left: 60px;
  padding-top: 36px;
}

.main-nav__sub-column {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 26px;
}

.main-nav__sub-link {
  color: var(--basic-black);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: block;
  padding-bottom: 16px;
}

.main-nav__sub-link:hover {
  opacity: 0.6;
}

.main-nav__sub-link:active {
  opacity: 0.3;
}

/* Promo-slider */

.promo-slider {
  position: relative; 
  height: 467px;
}


.promo-slider__control {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider__control::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.promo-slider__controls {
  position: absolute;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  top: 211px;
  left: 1005px;
  z-index: 6;
}

.promo-slider__input[id="promo-control-1"]:checked ~ .promo-slider__controls label[for="promo-control-1"]::before,
.promo-slider__input[id="promo-control-2"]:checked ~ .promo-slider__controls label[for="promo-control-2"]::before,
.promo-slider__input[id="promo-control-3"]:checked ~ .promo-slider__controls label[for="promo-control-3"]::before {
  display: block;
}

.promo-slider__item {
  display: grid;
  grid-template-columns: 599px 561px;
}

.promo-slider__item--01,
.promo-slider__item--02,
.promo-slider__item--03 {
  display: none;
}

.promo-slider__item--active {
  display: block;
}

.promo-slider__img-wrap--01 {
  position: relative;
  width: 384px;
  height: 486px;
}

.promo-slider__img--01 {
  position: absolute;
  width: 384px;
  height: 486px;
  top: -128px;
  left: 89px;
}

.promo-slider__descr-title{
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0 0 27px;
}

.promo-slider__descr-title--01 {
  display: block;
  position: relative;
}

.promo-slider__descr-title--01 span {
  position: absolute;
  z-index: 10;
}

.promo-slider__descr-title--01::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: -59px;
  left: 1px;
}

.promo-slider__descr-title--01:after {
  position: absolute;
  content: "01";
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  top: -109px;
  left: 329px;
  z-index: 2;
}

.promo-slider__descr-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 48px;
  margin-top: 142px;
}

.promo-slider__descr-wrap--01 {
  position: absolute;
  top: -82px;
  left: 599px;
  padding-top: 47px;
}

.promo-slider__advantages-title {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  display: inline-block;
}

.promo-slider__advantages-descr {
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.promo-slider__advantages-list--01 {
  display: grid;
  grid-template-columns: 160px 138px 144px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-slider__img-wrap--02 {
  position: relative;
  width: 600px;
  height: 485px;
}

.promo-slider__img--02 {
  position: absolute;
  width: 345px;
  height: 485px;
  top: -102px;
  left: 116px;
}

.promo-slider__descr-wrap--02 {
  position: absolute;
  top: -82px;
  left: 599px;
  padding-top: 47px;
}

.promo-slider__descr-title--02 {
  display: block;
  position: relative;
}

.promo-slider__descr-title--02 span {
  position: absolute;
  z-index: 10;
}

.promo-slider__descr-title--02::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: -59px;
  left: 1px;
}

.promo-slider__descr-title--02:after {
  position: absolute;
  content: "02";
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  top: -109px;
  left: 329px;
  z-index: 2;
}

.promo-slider__advantages-list--02 {
  display: grid;
  grid-template-columns: 190px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-slider__img-wrap--03 {
  position: relative;
  width: 600px;
  height: 485px;
}

.promo-slider__img--03 {
  position: absolute;
  width: 526px;
  height: 334px;
  top: -46px;
  left: 29px;
}

.promo-slider__descr-wrap--03 {
  position: absolute;
  top: -82px;
  left: 599px;
  padding-top: 47px;
}

.promo-slider__descr-title--03 {
  display: block;
  position: relative;
}

.promo-slider__descr-title--03 span {
  position: absolute;
  z-index: 10;
}

.promo-slider__descr-title--03::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: -59px;
  left: 1px;
}

.promo-slider__descr-title--03:after {
  position: absolute;
  content: "03";
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  top: -109px;
  left: 329px;
  z-index: 2;
}

.promo-slider__advantages-list--03 {
  display: grid;
  grid-template-columns: 194px 194px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-more {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 49px;
}

.btn-more:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-more::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-more:hover::before,
.btn-more:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-more:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

/*Main-goods*/
.main-goods {
  margin-bottom: 178px;
}

.main-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 200px);
}

.main-goods__item-wrap {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  margin-bottom: 38px;
}

.main-goods__item-wrap--vr {
  padding: 52px 32px 53px 31px;
}

.main-goods__item-wrap--vr img {
  width: 97px;
  height: 55px;
}

.main-goods__item-wrap--selfie {
  padding: 26px 36px 17px 38px;
}

.main-goods__item-wrap--selfie + p {
  width: 100px;
}

.main-goods__item-wrap--selfie img {
  width: 86px;
  height: 117px;
}

.main-goods__item-wrap--cam {
  padding: 38px 40px 35px 49px;
}

.main-goods__item-wrap--cam img {
  width: 71px;
  height: 87px;
}

.main-goods__item-wrap--fit {
  padding: 50px 25px 45px 28px;
}

.main-goods__item-wrap--fit img {
  width: 107px;
  height: 65px;
}

.main-goods__item-wrap--watch {
  padding: 32px 49px 30px 55px;
}

.main-goods__item-wrap--watch img {
  width: 56px;
  height: 98px;
}

.main-goods__item-wrap--copter {
  padding: 49px 15px 42px 13px;
}

.main-goods__item-wrap--copter img {
  width: 132px;
  height: 69px;
}

.main-goods__item-link:hover .main-goods__item-wrap,
.main-goods__item-link:focus .main-goods__item-wrap {
  background-color: var(--special-yellow-dark);
  transition: all 0.2s linear;
}

.main-goods__item-link:active .main-goods__item-img,
.main-goods__item-link:active .main-goods__item-name {
  opacity: 0.3;
}

.main-goods__item-name {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main-goods__item-name:active {
  opacity: 0.3;
}

.main-goods__item-name {
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

/*Services-accordion*/
.services-accordion {
  position: relative;
  background-color: var(--basic-grey);
  width: 1160px;
  height: 288px;
  margin: 156px auto 89px;
}

.services-accordion-wrap {
  display: grid;
  grid-template-columns: 284px 876px;
}

.services-accordion__controls-wrap {
  position: relative;
  width: 284px;
  height: 288px;
}

.services-accordion__controls {
  position: absolute;
  top: -20px;
  left: 0px;
}

.services-accordion__item {
  position: relative;
  padding-top: 69px;
  padding-left: 115px;
}

.services-accordion__item-title {
  position: absolute;
  top: -77px;
  left: 115px;
}

.services-accordion__item {
  display: none;
}

.services-accordion__item--active {
  display: block;
}

.services-accordion__item::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 320px;
  top: -98px;
  left: -7px;
  background-color: var(--basic-black);
}

.services-accordion__item--delivery::after {
  position: absolute;
  content: "";
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  top: -24px;
  left: 736px;
}

.services-accordion__item--warranty::after {
  position: absolute;
  content: "";
  display: block;
  width: 170px;
  height: 188px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  top: -41px;
  left: 699px;
}

.services-accordion__item--credit::after {
  position: absolute;
  content: "";
  display: block;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  top: -56px;
  left: 697px;
}

.services-accordion__item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.services-accordion__item p {
  font-family: "Opan Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-accordion__control {
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.services-accordion__control::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.services-accordion__control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 0;
  height: 40px;
  background-color: var(--basic-black);
}

.services-accordion__control:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"],
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"],
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"] {
  color: var(--special-yellow);
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"]::before,
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"]::before,
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"]::before {
  background-color: var(--basic-black);
  height: 40px;
  width: 277px;
  top: 0%;
  left: 0%;
}

/*Main-brands*/

.main-brands__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}

.main-brands__link {
  display: block;
  font-size: 0;
  width: 260px;
  height: 100px;
  opacity: 0.2;
}

.main-brands__link:hover,
.main-brands__link:focus {
  opacity: 1;
  transition: all 0.3s linear;
}

.main-brands__link--dji {
  background-image: url("../img/main-brands-dji-gray.png");
}

.main-brands__link--dji:hover,
.main-brands__link--dji:focus {
  background-image: url("../img/main-brands-dji.png");
}

.main-brands__link--spg {
  background-image: url("../img/main-brands-spg-gray.png");
}

.main-brands__link--spg:hover,
.main-brands__link--spg:focus {
  background-image: url("../img/main-brands-spg.png");
}

.main-brands__link--gopro {
  background-image: url("../img/main-brands-gopro-gray.png");
}

.main-brands__link--gopro:hover,
.main-brands__link--gopro:focus {
  background-image: url("../img/main-brands-gopro.png");
}

.main-brands__link--vive {
  background-image: url("../img/main-brands-vive-gray.png");
}

.main-brands__link--vive:hover,
.main-brands__link--vive:focus {
  background-image: url("../img/main-brands-vive.png");
}

/*Main-info-wrap*/

.main-info-wrap {
  display: grid;
  grid-template-columns: 600px 560px;
  margin-bottom: 86px;
}

.main-info {
  position: relative;
}

.main-info::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: -10px;
  left: 0px;
}

.main-contacts {
  position: relative;
}

.main-contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: -10px;
  left: 0px;
}

.main-info__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  margin-bottom: 40px;
}

.main-info__descr-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

.main-info__descr-text:first-child {
  margin-bottom: 45px;
}

.main-info__descr-text:last-child {
  margin-bottom: 60px;
}

.main-info__delivery-list {
  list-style: none;
  margin: 0 0 73px 0;
  padding: 0 0 0 19px;
}

.main-info__delivery-item {
  position: relative;
}

.main-info__delivery-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--unit-grey-light);
  border-radius: 50%;
}

.main-info__delivery-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}


.main-contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  margin-bottom: 40px;
}

.main-contacts__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  margin-bottom: 45px;
}

.main-contacts__map {
  display: block;
  margin-bottom: 52px;
  width: 560px;
  height: 222px;
}

.main-contacts__map-img {
  background-color: var(--basic-white);
}

.btn-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-about:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-about::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 304px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-about:hover::before,
.btn-about:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-about:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.btn-write-us {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: none;
  border: none;
  cursor: pointer;
}

.btn-write-us:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-write-us::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 269px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-write-us:hover::before,
.btn-write-us:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-write-us:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

/*Main-footer*/

.main-footer .container {
  display: grid;
  grid-template-columns: 366px 442px 352px;
}

.main-footer {
  background-color: var(--special-dark);
  height: 325px;
}

.main-footer__logo-address {
  padding-top: 63px;
  position: relative;
}

.main-footer__logo-address:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--unit-yellow);
  top: 239px;
}

.main-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.main-footer__logo-img {
  width: 164px;
  height: 36px;
}

.main-footer__logo {
  cursor: pointer;
}

.main-footer__logo:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__logo a:active {
  opacity: 0.3;
}

.main-footer__info {
  padding-top: 138px;
}

.main-footer__services {
  margin-bottom: 67px;
}

.main-footer__services-link + .main-footer__services-link {
  margin-left: 36px;
} 

.main-footer__services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal; 
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
  display: inline-block;
}

.main-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__social-item {
  display: inline-block;
}

.main-footer__social-item + .main-footer__social-item {
  margin-left: 20px;
}

.main-footer__social-img {
  width: 32px;
  height: 32px;
}

.main-footer__social-link:hover,
.main-footer__social-link:focus {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__social-link:active {
  opacity: 0.3;
}


.main-footer__user-list {
  list-style: none;
  margin-left: 8px;
  margin-bottom: 73px;
}

.main-footer__user-item {
  display: inline-block;
}

.main-footer__user-item + .main-footer__user-item {
  margin-left: 60px;
}

.main-footer__user-link {
  position: relative;
  text-align: right;
  color: var(--basic-white);
  opacity: 0.7;
}

.main-footer__user-link:hover {
  color: var(--basic-white);
  opacity: 1;
}

.main-footer__user-link:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.main-footer__user-link:hover::before {
  opacity: 0.6;
}

.main-footer__user-link:active::before {
  opacity: 0.3;
}

.main-footer__user-link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -23px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.main-footer__user-link--login::before {
  left: -26px;
  background-image: url("../img/yellow-user.svg");
}

.main-footer__user-link--profile::before {
  left: -26px;
  background-image: url("../img/yellow-user.svg");
}

.main-footer__user-link--compare::before {
  bottom: 2px;
  left: -26px;
  background-image: url("../img/yellow-compare.svg");
}

.main-footer__user-link--cart::before {
  left: -26px;
  background-image: url("../img/yellow-cart.svg");
}

.main-footer__address {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.main-footer__phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  display: inline-block;
  margin-left: 181px;
  margin-bottom: 67px;
}

.main-footer__services-link:hover,
.main-footer__services-link:focus,
.main-footer__phone a:hover,
.main-footer__phone a:focus,
.main-footer__copyright a:hover,
.main-footer__copyright a:focus {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__services-link:active,
.main-footer__phone a:active,
.main-footer__copyright a:active {
  opacity: 0.3;
}

.main-footer__copyright {
  margin-left: 322px;
}

.main-footer__copyright-img {
  width: 27px;
  height: 35px;
}

/*popup*/
.popup-write-us {
  width: 960px;
  height: 550px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--popup-shadow);
}

.popup-write-us__wrap {
  position: relative;
  padding: 93px 100px 76px;
}

.popup-input-wrap {
  display: inline-block;
}

.popup-input-wrap--name + .popup-input-wrap--email {
  margin-left: 35px;
}

.popup-input-wrap__label {
  display: block; 
  margin-bottom: 10px;
}

.popup-input-wrap--message {
  margin-top: 32px;
}

.popup-input-wrap__input {
  width: 360px;
}

.popup-write-us__close {
  position: absolute;
  top: -480px;
  left: 781px;
}

.popup-input-wrap__label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.popup-input-wrap__input {
  padding: 16px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  outline: none;
}

.popup-input-wrap__textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  resize: none;
  outline: none;
  margin-bottom: 54px;
}

.popup-write-us input:hover,
.popup-write-us textarea:hover {
  background-color: var(--unit-grey-dark);
}

.popup-write-us input:focus,
.popup-write-us textarea:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--special-yellow);
}

.popup-write-us input:invalid {
  background-color: var(--unit-red); 
}

.btn-popup{
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-popup:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-popup::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-popup:hover::before,
.btn-popup:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-popup:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.popup-write-us__close,
.popup-map__close {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.popup-write-us__close::before,
.popup-map__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us__close::after,
.popup-map__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us__close:hover,
.popup-map__close:hover {
  opacity: 1;
  transition: all 0.2s linear;
}

.popup-write-us__close:active,
.popup-map__close:active {
  opacity: 0.3;
}

.popup-map {
  position: relative;
  display: inline-block;
  width: 994px;
  height: 593px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--popup-map-shadow);
}

.popup-map__close {
  position: absolute;
  top: 42px;
  left: 916px;
}

/*catalog*/
/*breadcrumbs*/

.page-content__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs__item-link {
  color: var(--basic-black);
}

.breadcrumbs__item:hover {
  opacity: 0.6;
}

.breadcrumbs__item:active {
  opacity: 0.1;
}

.sidebar-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--dark-grey);
}

.filter {
  background-color: var(--basic-grey);
}

.filter__item {
  border: 0 none;
}

.filter__item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.filter__checkbox-list {
  list-style: none;
}

.filter__checkbox-label {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer;
}

.filter__checkbox-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter__checkbox-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  display: none;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter__checkbox-input:checked + .filter__checkbox-label::before {
  display: none;
}

.filter__checkbox-input:checked + .filter__checkbox-label::after {
  display: block;
}

.filter__checkbox-label,
.filter__checkbox-label:hover::before,
.filter__checkbox-label:hover::after {
  opacity: 0.6;
}

.filter__checkbox-input:disabled + .filter__checkbox-label,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label,
.filter__checkbox-input:disabled + .filter__checkbox-label::before,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label::before,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label::after {
  color: var(--grey-disabled);
}

.filter__radio-list {
  list-style: none;
}

.filter__radio-label {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer;
}

.filter__radio-label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -40px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter__radio-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -32px;
  display: none;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter__radio-input:checked + .filter__radio-label::after {
  display: block;
}

.filter__radio-label,
.filter__radio-label:hover::before,
.filter__radio-label:hover::after {
  opacity: 0.6;
}

.filter__radio-input:disabled + .filter__radio-label,
.filter__radio-input:checked:disabled + .filter__radio-label,
.filter__radio-input:disabled + .filter__radio-label::before,
.filter__radio-input:checked:disabled + .filter__radio-label::before,
.filter__radio-input:checked:disabled + .filter__radio-label::after {
  color: var(--grey-disabled);
}


.btn-sidebar {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-sidebar:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-sidebar::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0px;
  z-index: -1;
  width: 205px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-sidebar:hover::before,
.btn-sidebar:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-sidebar:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

.goods__sort {
  background-color: var(--basic-grey);
}

.goods__sort-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.goods__sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods__sort-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.goods__sort-link:hover {
  opacity: 0.6;
}

.goods__sort-link:active {
  opacity: 1;
}

.goods__sort-arrow-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods__sort-arrow-link {
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.goods__sort-arrow-link.goods__sort-arrow-link--active {
  opacity: 1;
}

.goods__sort-arrow-link:hover {
  opacity: 0.6;
}


.goods__sort-item--active .goods__sort-link {
  opacity: 1;
}





.goods-item__img-wrap {
  position: relative;
  width: 360px;
  height: 380px;
  background-color: var(--basic-grey);
}

.new::before {
  content: "new";
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding-top: 23px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
}



.goods-item__info-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.goods-item__info-link {
  color: var(--basic-black);
}

.goods__item-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.pagination {
  background-color: var(--special-grey);
}

.pagination {
  list-style: none;
}

.pagination__list {
  list-style: none;
}

.pagination__link-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination__link-text:active {
  opacity: 0.3;
}

.pagination__link-num {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.paginataion__link-num:hover {
  opacity: 0.6;
}

.pagination__link-num:active {
  opacity: 1;
}

.pagination__link-num.pagination__link-num--active {
  opacity: 1;
}




















