
@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-dark: #363636;
  --basic-grey: #e5e5e5;
  --dark-grey: #dcdcdc;
  --special-grey: #ebebeb;
  --unit-grey: #f2f2f2;
  --unit-grey-dark: #eaeaea;
  --unit-red: #f6dada;
  --unit-grey-light: #e6e6e6;
  --grey-disabled: #a6a6a6;
  --unit-yellow: #ffc600;
  --popup-shadow: rgba(0, 0, 0, 0.2);
  --popup-map-shadow: rgba(0, 0, 0, 0.2);
  --toggle-color: #c4c4c4;
  --bar-color: #91C92F;
  --toggle-boxshadow-color: rgba(0, 0, 0, 0.18); 
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page-body {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.01em;
  background-color: var(--basic-white);
  
}

.catalog {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-black);
  letter-spacing: 0.01em;
  background-color: var(--basic-white); 
}

.grid-wrap {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/*Header*/

.main-header {
  color: var(--basic-black);
  background-color: var(--special-yellow);
  background-image: linear-gradient(to bottom, var(--basic-white) 38px, var(--special-yellow) 38px);
}

.main-header-logo {
  cursor: pointer;
  display: block;
  padding: 18px 60px 15px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
  transition: all 0.2 linear;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo__img {
  width: 164px;
  height: 36px;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 0 60px;
  margin-bottom: 40px;
}

.user-nav__user-item--search {
  width: 542px;
  box-sizing: border-box;
}

.user-nav__search {
  position: relative;
  padding-left: 25px;
}

.user-nav__search-label {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.user-nav__search-label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: none;
  width: 400px;
  height: 2px;
  background-color: var(--basic-black);
}

.user-nav__search-input {
  position: relative;
  width: 320px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.user-nav__search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-nav__search-input:hover::placeholder {
  color: var(--basic-black); 
  opacity: 0.6;
}

.user-nav__search-input:focus::placeholder {
  font-size: 0;
}

.user-nav__search-input:focus ~ .user-nav__search-label::before {
  display: block;
}

.user-nav__search-input:focus ~ .user-nav__search-btn {
  z-index: 0;
  opacity: 1;
}

.user-nav__search-btn {
  position: absolute;
  top: -9px;
  left: 330px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: none;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
  opacity: 0;
}

.user-nav__search-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
  transition: all 0.1s linear;
}
 
.user-nav__search-btn:focus {
  z-index: 0;
  color: var(--basic-white);
  background-color: var(--basic-black);
  opacity: 1;
  transition: all 0.1s linear;
}

.user-nav__search-btn:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.user-nav__search-btn:focus ~ .user-nav__search-label::before {
  display: block;
}

.user-nav__user-link {
  position: relative;
  color: var(--basic-dark);
}

.user-nav__user-link:hover {
  opacity: 0.6;
}

.user-nav__user-link:hover::before {
  opacity: 0.6;
}

.user-nav__user-link:active {
  opacity: 0.3;
}

.user-nav__user-link:active::before {
  opacity: 0.3;
}

.user-nav__user-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.user-nav__user-item--login {
  width: 282px;
  padding-left: 25px;
  box-sizing: border-box;
}

.user-nav__user-item--compare {
  width: 134px;
  padding-left: 20px;
}

.user-nav__user-item--cart {
  width: 82px;
  padding-left: 22px;
}

.user-nav__user-link--login::before {
  bottom: 4px;
  left: -25px;
  background-image: url("../img/black-user.svg");
}

.user-nav__user-link--profile::before {
  bottom: 4px;
  left: -25px;
  background-image: url("../img/black-user.svg");
}

.user-nav__user-link--compare::before {
  bottom: 2px;
  left: -20px;
  background-image: url("../img/black-compare.svg");
}

.user-nav__user-link--cart::before {
  bottom: 4px;
  left: -22px;
  background-image: url("../img/black-cart.svg");
}

.user-nav__user-link--logout {
  margin-left: 15px;
  color: var(--basic-black);
  opacity: 0.3;
}

.user-nav__user-link--logout:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.user-nav__user-link--logout:active {
  color: var(--basic-black);
  opacity: 0.1;
}

.main-nav {
  padding: 0px 60px 13px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__item--catalog {
  width: 539px;
}

.main-nav__item--delivery {
  width: 159px;
}

.main-nav__item--warranty {
  width: 222px;
}

.main-nav__item--contacts {
  width: 119px;
}

.main-nav__link--catalog {
  position: relative;
}

.main-nav__link--catalog::before {
  content: "";
  position: absolute;
  right: -27px;
  bottom: 10px;
  width: 16px;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__link--catalog::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 3px;
  width: 2px;
  height: 16px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__item--catalog {
  position: relative;
}

.main-nav__link--catalog {
  position: relative;
}

.main-nav__sub-wrap {
  position: absolute;
  top: 22px;
  left: -60px;
  display: none;
  width: 1160px;
  background-color: var(--special-yellow);
  z-index: 5;
}

.main-nav__sub-wrap:hover {
  display: block;
}

.main-nav__link--catalog:hover + .main-nav__sub-wrap {
  display: block;
}

.main-nav__sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  padding-left: 60px;
  padding-top: 36px;
}

.main-nav__sub-column {
  padding-bottom: 26px;
}

.main-nav__sub-column:nth-child(1) {
  width: 241px;
}

.main-nav__sub-column:nth-child(2) {
  width: 178px;
}

.main-nav__sub-column:nth-child(3) {
  width: 185px;
}

.main-nav__sub-link {
  color: var(--basic-black);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: block;
  padding-bottom: 15px;
}

.main-nav__sub-link:hover {
  opacity: 0.6;
}

.main-nav__sub-link:active {
  opacity: 0.3;
}

/* Promo-slider */
.promo-slider {
  position: relative;
  background-image: linear-gradient(to bottom, var(--special-yellow) 146px, var(--basic-white) 146px);
  padding-bottom: 14px;
}

.promo-slider__controls {
  position: absolute;
  right: 80px;
  bottom: 158px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.promo-slider__control {
  position: relative;
  display: block;
  width: 26px;
}

.promo-slider__control::before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider__control::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: none;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.promo-slider__input[id="promo-control-1"]:checked ~ .promo-slider__controls label[for="promo-control-1"]::after,
.promo-slider__input[id="promo-control-2"]:checked ~ .promo-slider__controls label[for="promo-control-2"]::after,
.promo-slider__input[id="promo-control-3"]:checked ~ .promo-slider__controls label[for="promo-control-3"]::after {
  display: block;
}

.promo-slider__item {
  display: flex;
  justify-content: space-between;
}

.promo-slider__item--01,
.promo-slider__item--02,
.promo-slider__item--03 {
  display: none;
}

.promo-slider__item--active {
  display: flex;
}

.promo-slider__img-wrap {
  width: 600px;
}

.promo-slider__img-wrap--01 {
  padding-left: 89px;
  padding-top: 17px;
}

.promo-slider__img-wrap--02 {
  padding-left: 116px;
  padding-top: 42px;
}

.promo-slider__img-wrap--03 {
  padding-left: 30px;
  padding-top: 99px;

}

.promo-slider__img--01 {
  width: 384px;
  height: 486px;
}

.promo-slider__descr-wrap {
  position: relative;
  width: 560px;
  padding-top: 110px;
}

.promo-slider__descr-wrap::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: 50px;
  left: 0px;
  background-color: var(--basic-white);
}

.promo-slider__descr-num {
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  top: 0px;
  left: 330px;
  z-index: 1;
}

.promo-slider__descr-title{
  position: relative;
  margin-top: 0px;
  margin-bottom: 27px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  z-index: 3;
}

.promo-slider__descr-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 51px;
}

.btn-more {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.btn-more:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-more::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-more:hover::before,
.btn-more:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-more:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

.promo-slider__advantages-list--01 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.promo-slider__advantages-list--01 .promo-slider__advantages-col {
  width: 147px;
}

.promo-slider__advantages-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: var(--basic-black);
  margin: 0px;
  padding-bottom: 0 0 0 15px;
}

.promo-slider__advantages-descr {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.promo-slider__advantages-list--02 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  display: block;
  width: 176px;
}

.promo-slider__advantages-list--02 .promo-slider__advantages-col {
  width: 176px;
  display: inline-block;
}

.promo-slider__advantages-list--03 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 332px;
}

.promo-slider__advantages-list--03 .promo-slider__advantages-col {
  width: 163px;
  display: inline-block;
}

/*Main-goods*/
.main-goods {
  padding-top: 97px;
  padding-bottom: 65px;
}

.main-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.main-goods__item {
  width: 160px;
}

.main-goods__item-wrap {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-goods__item-wrap--vr img {
  width: 97px;
  height: 55px;
}

.main-goods__item-wrap--selfie + p {
  width: 100px;
}

.main-goods__item-wrap--selfie img {
  width: 86px;
  height: 117px;
}

.main-goods__item-wrap--cam img {
  width: 71px;
  height: 87px;
}

.main-goods__item-wrap--fit img {
  width: 107px;
  height: 65px;
}

.main-goods__item-wrap--watch img {
  width: 56px;
  height: 98px;
}

.main-goods__item-wrap--copter img {
  width: 132px;
  height: 69px;
}

.main-goods__item-link:hover .main-goods__item-wrap,
.main-goods__item-link:focus .main-goods__item-wrap {
  background-color: var(--special-yellow-dark);
  transition: all 0.2s linear;
}

.main-goods__item-link:active .main-goods__item-img,
.main-goods__item-link:active .main-goods__item-name {
  opacity: 0.3;
}

.main-goods__item-name {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.main-goods__item-name:active {
  opacity: 0.3;
}

.main-goods__item-name {
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

/*Services-accordion*/
.services-accordion {
  position: relative;
  background-image: linear-gradient(to bottom, var(--basic-white) 115px, var(--basic-grey) 115px);
  padding-bottom: 129px;
  
}

.services-accordion-wrap {
  display: flex;
  justify-content: space-between;
}

.services-accordion__controls-wrap {
  width: 304px;
  padding-top: 98px;
  padding-left: 20px;
}


.services-accordion__control {
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.services-accordion__control::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.services-accordion__control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 0;
  height: 40px;
  background-color: var(--basic-black);
}

.services-accordion__control:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"],
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"],
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"] {
  color: var(--special-yellow);
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"]::before,
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"]::before,
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"]::before {
  background-color: var(--basic-black);
  height: 40px;
  width: 277px;
  top: 0%;
  left: 0%;
}

.services-accordion__item {
  width: 856px;
  display: none;
  padding-top: 86px;
  padding-left: 123px;
}

.services-accordion__item--active {
  display: block;
}

.services-accordion__item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  margin: 0;
  padding-bottom: 41px;
}

.services-accordion__item-text {
  font-family: "Opan Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
}

.services-accordion__item::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 320px;
  top: 15px;
  left: 297px;
  background-color: var(--basic-black);
}

.services-accordion__item--delivery::after {
  position: absolute;
  content: "";
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  top: 85px;
  left: 1001px;
}

.services-accordion__item--warranty::after {
  position: absolute;
  content: "";
  display: block;
  width: 170px;
  height: 188px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  top: 62px;
  left: 1010px;
}

.services-accordion__item--credit::after {
  position: absolute;
  content: "";
  display: block;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  top: 49px;
  left: 967px;
}

/*Main-brands*/
.main-brands {
  padding-top: 90px;
  padding-bottom: 90px;
}

.main-brands__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-brands__link {
  display: block;
  font-size: 0;
  width: 260px;
  height: 100px;
  opacity: 0.2;
}

.main-brands__link:hover,
.main-brands__link:focus {
  opacity: 1;
  transition: all 0.3s linear;
}

.main-brands__link--dji {
  background-color: var(--basic-grey);
  background-image: url("../img/main-brands-dji-gray.png");
}

.main-brands__link--dji:hover,
.main-brands__link--dji:focus {
  background-image: url("../img/main-brands-dji.png");
}

.main-brands__link--spg {
  background-color: var(--basic-grey);
  background-image: url("../img/main-brands-spg-gray.png");
}

.main-brands__link--spg:hover,
.main-brands__link--spg:focus {
  background-image: url("../img/main-brands-spg.png");
}

.main-brands__link--gopro {
  background-color: var(--basic-grey);
  background-image: url("../img/main-brands-gopro-gray.png");
}

.main-brands__link--gopro:hover,
.main-brands__link--gopro:focus {
  background-image: url("../img/main-brands-gopro.png");
}

.main-brands__link--vive {
  background-color: var(--basic-grey);
  background-image: url("../img/main-brands-vive-gray.png");
}

.main-brands__link--vive:hover,
.main-brands__link--vive:focus {
  background-image: url("../img/main-brands-vive.png");
}

/*Main-info-wrap*/

.main-info-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 105px;
}

.main-info {
  position: relative;
  width: 600px;
  padding-top: 56px;
}

.main-info::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: 0px;
  left: 0px;
}

.main-contacts {
  position: relative;
  width: 560px;
  padding-top: 56px;
}

.main-contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: 0px;
  left: 0px;
}

.main-info__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 40px;
}

.main-info__descr-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

.main-info__descr-text:first-child {
  margin-bottom: 40px;
}

.main-info__descr-text:last-child {
  margin-bottom: 60px;
}

.main-info__delivery-list {
  list-style: none;
  margin: 0 0 70px 0;
  padding: 0 0 0 19px;
}

.main-info__delivery-item {
  position: relative;
}

.main-info__delivery-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--unit-grey-light);
  border-radius: 50%;
}

.main-info__delivery-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

.main-contacts__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  margin-top: 0px;
  margin-bottom: 40px;
}

.main-contacts__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
  margin-bottom: 45px;
}

.main-contacts__map {
  display: block;
  margin-bottom: 43px;
  width: 560px;
  height: 222px;
}

.main-contacts__map-img {
  background-color: var(--basic-white);
}

.btn-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-about:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-about::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 304px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-about:hover::before,
.btn-about:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-about:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.btn-write-us {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: none;
  border: none;
  cursor: pointer;
}

.btn-write-us:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-write-us::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 269px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-write-us:hover::before,
.btn-write-us:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-write-us:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

/*Main-footer*/

.main-footer {
  background-color: var(--special-dark);
  padding-top: 49px;
}

.main-footer__logo-user-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.main-footer__logo {
  width: 163px;
}

.main-footer__logo {
  padding-top: 14px;
}

.main-footer__logo-link {
  cursor: pointer;
}

.main-footer__logo-img {
  width: 164px;
  height: 36px;
}

.main-footer__logo:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__logo a:active {
  opacity: 0.3;
}

.main-footer__user-list {
  display: flex;
  justify-content: flex-end;
  width: 997px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main-footer__user-item:nth-child(1) {
  display: flex;
  width: max-content;
  padding-left: 23px;
  padding-top: 5px;
}

.main-footer__user-link--logout {
  margin-left: 26px;
}

.main-footer__user-item:nth-child(2) {
  display: flex;
  width: 91px;
  padding-left: 23px;
  padding-top: 5px;
  margin-left: 42px;
}

.main-footer__user-item:nth-child(3) {
  display: flex;
  width: 83px;
  padding-left: 23px;
  padding-top: 5px;
  margin-left: 42px;
}

.main-footer__user-link {
  position: relative;
  color: var(--basic-white);
  opacity: 0.7;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.main-footer__user-link:hover {
  color: var(--basic-white);
  opacity: 1;
}

.main-footer__user-link:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.main-footer__user-link:hover::before {
  opacity: 0.6;
}

.main-footer__user-link:active::before {
  opacity: 0.3;
}

.main-footer__user-link--login::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 14px;
  top: 4px;
  left: -23px;
  background-image: url("../img/yellow-user.svg");
  background-repeat: no-repeat;
}

.main-footer__user-link--profile::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 14px;
  top: 4px;
  left: -26px;
  background-image: url("../img/yellow-user.svg");
  background-repeat: no-repeat;
}

.main-footer__user-link--compare::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 14px;
  top: 5px;
  left: -23px;
  background-image: url("../img/yellow-compare.svg");
  background-repeat: no-repeat;
}

.main-footer__user-link--cart::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 14px;
  top: 4px;
  left: -23px;
  background-image: url("../img/yellow-cart.svg");
  background-repeat: no-repeat;
}

.main-footer__address-services-tel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}

.main-footer__address {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  width: 368px;
}

.main-footer__services {
  width: 423px;
  display: flex;
  justify-content: space-between;
}

.main-footer__services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal; 
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);  
}

.main-footer__services-link:hover,
.main-footer__services-link:focus,
.main-footer__phone a:hover,
.main-footer__phone a:focus,
.main-footer__copyright a:hover,
.main-footer__copyright a:focus {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__services-link:active,
.main-footer__phone a:active,
.main-footer__copyright a:active {
  opacity: 0.3;
}

.main-footer__phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  display: inline-block;
  width: 368px;
  text-align: right;
}

.main-footer__social-copyright {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-footer__social-copyright::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--unit-yellow);
  top: 13px;
  left: 0px;
}

.main-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 648px;
  padding-left: 512px;
}

.main-footer__social-link svg {
  opacity: 0.6;
}

.main-footer__social-link:hover svg,
.main-footer__social-link:focus svg {
  opacity: 1;
  transition: all 0.2s linear;
}

.main-footer__social-link:active svg {
  opacity: 0.3;
}

.main-footer__social-link span {
  font-size: 0;
}

.main-footer__copyright{
  text-align: right;
}

.main-footer__copyright svg {
  opacity: 1;
  cursor: pointer;
}

.main-footer__copyright svg:hover,
.main-footer__copyright svg:focus {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__copyright svg:active {
  opacity: 0.3;
  transition: all 0.2s linear;
}


.main-footer__copyright span {
  font-size: 0;
}

/*popup*/
.popup-write-us {
  width: 960px;
  height: 550px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--popup-shadow);
}

.popup-write-us__wrap {
  position: relative;
  padding: 93px 100px 76px;
}

.popup-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup-input-wrap__label {
  display: block; 
  margin-bottom: 10px;
}

.popup-input-wrap--message {
  margin-top: 32px;
}

.popup-input-wrap__input {
  width: 360px;
}

.popup-write-us__close {
  position: absolute;
  top: -480px;
  left: 781px;
}

.popup-input-wrap__label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.popup-input-wrap__input {
  padding: 16px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  outline: none;
}

.popup-input-wrap__textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  resize: none;
  outline: none;
  margin-bottom: 54px;
}

.popup-write-us input:hover,
.popup-write-us textarea:hover {
  background-color: var(--unit-grey-dark);
}

.popup-write-us input:focus,
.popup-write-us textarea:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--special-yellow);
}

.popup-write-us input:invalid {
  background-color: var(--unit-red); 
}

.btn-popup{
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-popup:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-popup::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-popup:hover::before,
.btn-popup:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-popup:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.popup-write-us__close,
.popup-map__close {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.popup-write-us__close::before,
.popup-map__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: var(--basic-white);
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us__close::after,
.popup-map__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: var(--basic-white);
  transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us__close:hover,
.popup-map__close:hover {
  opacity: 1;
  transition: all 0.2s linear;
}

.popup-write-us__close:active,
.popup-map__close:active {
  opacity: 0.3;
}

.popup-map {
  position: relative;
  display: inline-block;
  width: 994px;
  height: 593px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--popup-map-shadow);
}

.popup-map__close {
  position: absolute;
  top: 42px;
  left: 916px;
}

/*catalog*/

/*page-content*/
.page-content__title-wrap {
  background-image: linear-gradient(to bottom, var(--special-yellow) 34px, var(--basic-white) 34px);
  padding-top: 78px;
  padding-bottom: 39px;
  padding-left: 60px;
}

.page-content__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  margin: 0 0 29px 0;
}

/*breadcrumbs*/

.breadcrumbs__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  padding-right: 40px;
}

.breadcrumbs__item::before {
  position: absolute;
  content: "";
  top: 7px;
  right: 17px;
  width: 5px;
  height: 8px;
  background-image: url("../img/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child::before {
  display: none;
}

.breadcrumbs__item-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs__item-link:hover {
  opacity: 0.6;
}

.breadcrumbs__item-link:active {
  opacity: 0.1;
}

/*page-content__wrap*/
.page-content-top {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
}

.page-content-top::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
}

.sidebar-top {
  position: relative;
  width: 100%;
  background-color: var(--dark-grey);
  padding: 23px 0;
}

.goods-top {
  width: 100%;
  background-color: var(--basic-grey);
}

.page-content-top::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--basic-grey);
}

.sidebar-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--dark-grey); 
  display: block;
  position: relative;
  margin: 0;
}

.goods-sort {
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-grey);
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 72px;
}


.goods-sort__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  width: 200px;
  display: flex;
  align-items: center;
}

.goods-sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 511px;
}

.goods-sort__list-item {
  margin: 0;
  padding: 0;
  margin-right: 31px;
  display: flex; 
  align-items: center;
}

.goods-sort__list-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.goods-sort__list-link--active {
  opacity: 1;
}

.goods-sort__list-link:hover {
  opacity: 0.6;
}

.goods-sort__list-link:active {
  opacity: 1;
}

.goods-sort__arrow-list {
  list-style: none;
  margin: 0;
  padding: 0 4px 0 0;
  display: flex;
  justify-content: space-between;
  width: 49px;
}

.goods-sort__arrow-link {
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.goods-sort__arrow-link.goods-sort__arrow-link--active {
  opacity: 1;
}

.goods-sort__arrow-link:hover {
  opacity: 0.6;
}

.goods-sort__item--active .goods-sort__link {
  opacity: 1;
}

/* Page-content-wrap*/
.page-content-wrap {
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
}

.page-content-wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--basic-grey);
}

.page-content-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--basic-white);
}

/*Sidebar*/
.sidebar {
  background-color: var(--basic-grey);
}

.filter {
  padding-top: 70px;
}

.filter__item {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.filter__item:nth-child(1) {
  margin-bottom: 37px;
}

.filter__item:nth-child(2) {
  margin-bottom: 24px;
}

.filter__item:nth-child(3) {
  margin-bottom: 38px;
}

.filter__item-title {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  padding: 0;
  margin: 0 0 20px 0;
  padding-top: 16px;
}

.filter__item:nth-child(2) .filter__item-title {
  margin-bottom: 27px;
}

.filter__item:nth-child(3) .filter__item-title {
  margin-bottom: 27px;
}

.filter__item-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  margin-bottom: 17px;
  padding-top: 10px;
}

.scale {
  height: 2px;
  width: 200px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.bar {
  width: 67%;
  height: 2px;
  background: var(--bar-color);
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: var(--toggle-color);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px var(--toggle-boxshadow-color);
  cursor: pointer;
  box-sizing: content-box;
}

.toggle-min {
  left: 0px;
}

.toggle-max {
  left: 124px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.min-price,
.max-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
}

.min-price__input,
.max-price__input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 37px;
  margin: 0;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.min-price__text,
.max-price__text {
  margin: 0;
  padding: 0;
}

.max-price {
  margin-right: 39%;
}

.filter__checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__checkbox-item {
  margin-bottom: 10px;
}

.filter__checkbox-label {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer;
  margin: 0;
  padding-left: 42px;
  position: relative;
}

.checkbox-off,
.checkbox-on {
  position: absolute;
  top: -4px;
  left: 0;
}

.checkbox-on {
  display: none;
}

.filter__checkbox-input:checked ~ .filter__checkbox-label .checkbox-off {
  display: none;
}

.filter__checkbox-input:checked ~ .filter__checkbox-label .checkbox-on {
  display: inline-block;
}

.filter__checkbox-label,
.checkbox-off:hover,
.checkbox-on:hover {
  opacity: 0.6;
}

.filter__checkbox-input:disabled + .filter__checkbox-label,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label,
.filter__checkbox-input:disabled + .filter__checkbox-label .checkbox-off,
.filter__checkbox-input:disabled + .filter__checkbox-label .checkbox-on,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label .checkbox-off,
.filter__checkbox-input:checked:disabled + .filter__checkbox-label .checkbox-on {
  color: var(--grey-disabled);
}

.filter__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__radio-item {
  margin: 0;
}

.filter__radio-item:first-child {
  margin-bottom: 11px;
}

.filter__radio-label {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  cursor: pointer;
  padding-left: 40px;
  margin: 0;
}

.radio-on {
  display: none;
}

.filter__radio-input:checked ~ .filter__radio-label .radio-off {
  display: none;
}

.filter__radio-input:checked ~ .filter__radio-label .radio-on {
  display: inline-block;
}

.radio-off,
.radio-on {
  position: absolute;
  top: -3px;
  left: 0;
}

.filter__radio-input:checked + .filter__radio-label::after {
  display: block;
}

.filter__radio-label,
.radio-off:hover,
.radio-on:hover {
  opacity: 0.6;
}

.filter__radio-input:disabled + .filter__radio-label,
.filter__radio-input:checked:disabled + .filter__radio-label,
.filter__radio-input:disabled + .filter__radio-label .radio-off,
.filter__radio-input:disabled + .filter__radio-label .radio-on,
.filter__radio-input:checked:disabled + .filter__radio-label .radio-off,
.filter__radio-input:checked:disabled + .filter__radio-label .radio-on {
  color: var(--grey-disabled);
} 

.btn-sidebar {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-sidebar:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-sidebar::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 0px;
  z-index: -1;
  width: 205px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-sidebar:hover::before,
.btn-sidebar:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-sidebar:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

/* Goods*/

.goods {
  padding-bottom: 78px;
}


.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 832px;
  padding-top: 69px;
  padding-left: 72px;
}

.goods-item {
  position: relative;
  width: 360px;
  margin: 0;
}

.goods-item:nth-child(2n) {
  margin-right: 0;
}

.goods-item__img-wrap {
  position: relative;
  width: 360px;
  height: 380px;
}

.goods-item__img {
  width: 360px;
  height: 380px;
  background-color: var(--basic-grey);
}

.goods-item__info {
  display: flex;
  justify-content: space-between;
  height: 122px;
  padding-top: 31px;
}

.goods-item__info-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 270px;
  margin: 0;
}

.goods-item__info-link {
  color: var(--basic-black);
}

.goods-item__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  padding-top: 3px;
}

.goods-item__hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding: 169px 90px 130px;
  text-align: center;
  background-color: var(--basic-grey);
  opacity: 0.7;
}

.goods-item__hover-btn {
  width: 200px;
  margin-bottom: 6px;
  margin-left: -11px;
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.goods-item__add {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.goods-item__hover-btn:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.goods-item__hover-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  margin-top: -5px;
  background-color: var(--special-yellow-dark);
}

.goods-item__hover-btn:hover::before,
.goods-item__hover-btn:focus::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}

.goods-item__hover-btn:active::before {
  top: 0;
  height: 40px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

.goods-item:hover .goods-item__hover {
  display: block;
}

.new::before {
  content: "new";
  position: absolute;
  box-sizing: border-box;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  width: 62px;
  height: 62px;
  top: 29px;
  right: 27px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin: 0;
  margin-left: 71px;
  padding: 0;
  background-color: var(--special-grey);
}

.pagination__link-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination__link-text:active {
  opacity: 0.3;
}

.pagination__control--prev {
  display: block;
  width: 134px;
  padding: 24px 30px;
}

.pagination__control--next {
  display: block;
  width: 134px;
  padding: 24px 30px;
  text-align: right;
}

.pagination__control:hover {
  background-color: var(--dark-grey);
}

.pagination__control:active {
  background-color: var(--dark-grey);
}

.pagination-num__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-num__list-item {
  width: 40px;
  text-align: center;
}

.pagination__link-num {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination__link-num:hover {
  opacity: 0.6;
}

.pagination__link-num:active {
  opacity: 1;
}

.pagination__link-num.pagination__link-num--active {
  opacity: 1;
}




















