/*fonts*/

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

/*variables*/
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-yellow: #f7e296;
  --special-yellow-dark: #f0c52e;
  --special-dark: #363636;
  --basic-grey: #e5e5e5;
  --dark-grey: #dcdcdc;
  --special-grey: #ebebeb;
  --unit-grey: #f2f2f2;
  --unit-grey-dark: #eaeaea;
  --unit-red: #f6dada;
  --unit-grey-light: #e6e6e6;
}

/*global*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  overflow-x: hidden;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.01em;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*main-header*/

.main-header {
  color: var(--basic-black);
  background-color: var(--special-yellow);
}

.main-header__logo a {
  cursor: pointer;
}

.main-header__logo a:hover,
.main-header__logo a:focus {
  opacity: 0.6;
  transition: all 0.2 linear;
}

.main-header__logo a:active {
  opacity: 0.3;
}

.main-header__logo img {
  width: 164px;
  height: 36px;
}


.main-nav__user-item {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
}

.main-nav__search {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.main-nav__search-label {
  position: absolute;
  top: 8px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-nav__search-label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: none;
  width: 400px;
  height: 2px;
  background-color: var(--basic-black);
}

.main-nav__search-input {
  position: relative;
  width: 320px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav__search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__search-input:hover::placeholder {
  color: var(--basic-black); 
  opacity: 0.6;
}

.main-nav__search-input:focus::placeholder {
  font-size: 0;
}

.main-nav__search-input:focus ~ .main-nav__search-label::before {
  display: block;
}

.main-nav__search-input:focus ~ .main-nav__search-btn {
  z-index: 0;
  opacity: 1;
}

.main-nav__search-btn {
  position: absolute;
  top: -9px;
  left: 330px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: none;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
  opacity: 0;
}

.main-nav__search-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
  transition: all 0.1s linear;
}
 
.main-nav__search-btn:focus {
  z-index: 0;
  color: var(--basic-white);
  background-color: var(--basic-black);
  opacity: 1;
  transition: all 0.1s linear;
}

.main-nav__search-btn:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.main-nav__search-btn:focus ~ .main-nav__search-label::before {
  display: block;
}

.main-nav__user-link {
  position: relative;
  color: var(--basic-dark);
}

.main-nav__user-link:hover {
  opacity: 0.6;
}

.main-nav__user-link:hover::before {
  opacity: 0.6;
}

.main-nav__user-link:active {
  opacity: 0.3;
}

.main-nav__user-link:active::before {
  opacity: 0.3;
}

.main-nav__user-link::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.main-nav__user-link--login::before {
  bottom: 4px;
  left: -26px;
  background-image: url("../img/black-user.svg");
}

.main-nav__user-link--compare::before {
  bottom: 2px;
  left: -20px;
  background-image: url("../img/black-compare.svg");
}

.main-nav__user-link--cart::before {
  bottom: 4px;
  left: -23px;
  background-image: url("../img/black-cart.svg");
}

.main-nav__user-link--logout {
  margin-left: 15px;
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__user-link--logout:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.main-nav__user-link--logout:active {
  color: var(--basic-black) ;
  opacity: 0.1;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--catalog {
  position: relative;
}

.main-nav__link--catalog::before {
  content: "";
  position: absolute;
  right: -27px;
  bottom: 10px;
  width: 16px;
  height: 2px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__link--catalog::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 3px;
  width: 2px;
  height: 16px;
  background-color: var(--basic-black);
  opacity: 0.3;
}

.main-nav__sub-list {
  list-style: none;
}

.main-nav__sub-column a{
  color: var(--basic-black);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}


/*promo-slider*/
.promo-slider-img-wrap--01 img {
  width: 384px;
  height: 486px;
}

.promo-slider-img-wrap--02 img {
  width: 345px;
  height: 485px;
}

.promo-slider-img-wrap--03 img {
  width: 526px;
  height: 334px;
}

.promo-slider__descr-wrap h3{
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slider__descr-wrap p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.promo-slider__advantages-col {
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.promo-slider__advantages-descr {
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.btn-more {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-more:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-more::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-more:hover::before,
.btn-more:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-more:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black);
  opacity: 0.3;
  transition: all 0.3s linear;
}

/*main-goods*/

.main-goods__list {
  list-style: none;
}

.main-goods__item-wrap {
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.main-goods__item-wrap--vr {
  padding: 52px 32px 53px 31px;
}

.main-goods__item-wrap--vr img {
  width: 97px;
  height: 55px;
}

.main-goods__item-wrap--selfie {
  padding: 26px 36px 17px 38px;
}

.main-goods__item-wrap--selfie + p {
  width: 100px;
}

.main-goods__item-wrap--selfie img {
  width: 86px;
  height: 117px;
}

.main-goods__item-wrap--cam {
  padding: 38px 40px 35px 49px;
}

.main-goods__item-wrap--cam img {
  width: 71px;
  height: 87px;
}

.main-goods__item-wrap--fit {
  padding: 50px 25px 45px 28px;
}

.main-goods__item-wrap--fit img {
  width: 107px;
  height: 65px;
}

.main-goods__item-wrap--watch {
  padding: 32px 49px 30px 55px;
}

.main-goods__item-wrap--watch img {
  width: 56px;
  height: 98px;
}

.main-goods__item-wrap--copter {
  padding: 49px 15px 42px 13px;
}

.main-goods__item-wrap--copter img {
  width: 132px;
  height: 69px;
}

.main-goods__item-link:hover .main-goods__item-wrap,
.main-goods__item-link:focus .main-goods__item-wrap {
  background-color: var(--special-yellow-dark);
  transition: all 0.2s linear;
}

.main-goods__item-link:active .main-goods__item-img,
.main-goods__item-link:active .main-goods__item-name {
  opacity: 0.3;
}

.main-goods__item-name {
  width: 160px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

/* services-accordion */

.services-accordion-wrap {
  background-color: var(--basic-grey);
}

.services-accordion__item--delivery::after {
  content: "";
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.services-accordion__item--warranty::after {
  content: "";
  display: block;
  width: 165px;
  height: 188px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.services-accordion__item--credit::after {
  content: "";
  display: block;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}

.services-accordion__item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.services-accordion__item p {
  font-family: "Opan Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-accordion__control {
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.services-accordion__control::before {
  content: "";
  position: absolute;
  top: 62%;
  left: 0;
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.services-accordion__control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  width: 0;
  height: 40px;
  background-color: var(--basic-black);
}

.services-accordion__control:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.3s linear;
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"],
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"],
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"] {
  color: var(--special-yellow);
}

.services-accordion__input[id="services-control-1"]:checked ~ .services-accordion__controls label[for="services-control-1"]::before,
.services-accordion__input[id="services-control-2"]:checked ~ .services-accordion__controls label[for="services-control-2"]::before,
.services-accordion__input[id="services-control-3"]:checked ~ .services-accordion__controls label[for="services-control-3"]::before {
  background-color: var(--basic-black);
  height: 40px;
  width: 277px;
  top: 0%;
  left: 0%;
}

/*main-brands*/
.main-brands__list {
  list-style: none;
}

.main-brands__link {
  display: block;
  width: 260px;
  height: 100px;

  opacity: 0.2;
}

.main-brands__link:hover,
.main-brands__link:focus {
  opacity: 1;

  transition: all 0.3s linear;
}

.main-brands__link--dji {
  background-image: url("../img/main-brands-dji-gray.png");
}

.main-brands__link--dji:hover,
.main-brands__link--dji:focus {
  background-image: url("../img/main-brands-dji.png");
}

.main-brands__link--spg {
  background-image: url("../img/main-brands-spg-gray.png");
}

.main-brands__link--spg:hover,
.main-brands__link--spg:focus {
  background-image: url("../img/main-brands-spg.png");
}

.main-brands__link--gopro {
  background-image: url("../img/main-brands-gopro-gray.png");
}

.main-brands__link--gopro:hover,
.main-brands__link--gopro:focus {
  background-image: url("../img/main-brands-gopro.png");
}

.main-brands__link--vive {
  background-image: url("../img/main-brands-vive-gray.png");
}

.main-brands__link--vive:hover,
.main-brands__link--vive:focus {
  background-image: url("../img/main-brands-vive.png");
}

/* main-info-wrap */

.main-info h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.main-info__descr p {
font-family: "Open Sans", Arial, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 28px;
color: var(--basic-black);
}

.main-info__delivery-list {
  list-style: none;
}

.main-info__delivery-item {
  position: relative;
}

.main-info__delivery-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -18px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--unit-grey-light);
  border-radius: 50%;
}

.main-info__delivery-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
}

/*main-contacts*/
.main-contacts h3{
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.main-contacts p {
font-family: "Open Sans", Arial, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 28px;
color: var(--basic-black);
}

.btn-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-about:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-about::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 304px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-about:hover::before,
.btn-about:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-about:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.btn-write-us {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: none;
  border: none;
  cursor: pointer;
}

.btn-write-us:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-write-us::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 269px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-write-us:hover::before,
.btn-write-us:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-write-us:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

/* main-footer */
.main-footer {
  background-color: var(--special-dark);
}

.main-footer__logo img {
  width: 164px;
  height: 36px;
}

.main-footer__logo a {
  cursor: pointer;
}

.main-footer__logo a:hover {
  opacity: 0.6;

  transition: all 0.2s linear;
}

.main-footer__logo a:active {
  opacity: 0.3;
}

.main-footer__user-list {
  list-style: none;
}

.main-footer__user-link {
  position: relative;
  text-align: right;
  color: var(--basic-white);
  opacity: 0.7;
}

.main-footer__user-link:hover {
  color: var(--basic-white);
  opacity: 1;
}

.main-footer__user-link:active {
  color: var(--basic-white); 
  opacity: 0.3;
}

.main-footer__user-link:hover::before {
  opacity: 0.6;
}

.main-footer__user-link:active::before {
  opacity: 0.3;
}

.main-footer__user-link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: -23px;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
}

.main-footer__user-link--login::before {
  left: -26px;
  background-image: url("../img/yellow-user.svg");
}

.main-footer__user-link--compare::before {
  bottom: 2px;
  left: -26px;
  background-image: url("../img/yellow-compare.svg");
}

.main-footer__user-link--cart::before {
  left: -26px;
  background-image: url("../img/yellow-cart.svg");
}

.main-footer__address {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.main-footer__services-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal; 
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.main-footer__phone a {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}


.main-footer__services-link:hover,
.main-footer__services-link:focus,
.main-footer__phone a:hover,
.main-footer__phone a:focus,
.main-footer__copyright a:hover,
.main-footer__copyright a:focus {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-footer__services-link:active,
.main-footer__phone a:active,
.main-footer__copyright a:active {
  opacity: 0.3;
}

 .main-footer__social-list {
  list-style: none;
}

.main-footer__social-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
}

.main-footer__social-link::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}

.main-footer__social-link--fb::before {
  background-image: url("../img/facebook.svg");
}

.main-footer__social-link--inst::before {
  background-image: url("../img/instagram.svg");
}

.main-footer__social-link--tw::before {
  background-image: url("../img/twitter.svg");
}

.main-footer__social-link:hover,
.main-footer__social-link:focus {
  opacity: 0.6;

  transition: all 0.2s linear;
}

.main-footer__social-link:active {
  opacity: 0.3;
}

/*popup*/
.popup-write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.popup-write-us input {
  padding: 16px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  outline: none;
}

.popup-write-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--unit-grey);
  border: none;
  resize: none;
  outline: none;
}

.popup-write-us input:hover,
.popup-write-us textarea:hover {
  background-color: var(--unit-grey-dark);
}

.popup-write-us input:focus,
.popup-write-us textarea:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--special-yellow);
}

.btn-popup{
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-popup:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.btn-popup::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 0px;
  z-index: -1;
  width: 223px;
  height: 10px;
  background-color: var(--special-yellow-dark);
}

.btn-popup:hover::before,
.btn-popup:focus::before {
  top: 0;
  height: 42px;
  margin: 0;
  transition: all 0.3s linear;
}

.btn-popup:active::before {
  top: 0;
  height: 42px;
  margin: 0;
  color: var(--basic-black); 
  opacity: 0.3;
  transition: all 0.3s linear;
}

.popup-write-us__close,
.popup-map__close {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.popup-write-us__close::before,
.popup-map__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us__close::after,
.popup-map__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us__close:hover,
.popup-map__close:hover {
  opacity: 1;

  transition: all 0.2s linear;
}

.popup-write-us__close:active,
.popup-map__close:active {
  opacity: 0.3;
}












